#navbar {
      background-color: #333;
      position: sticky;
      top: 0;
      width: 100%;
      padding:30px;
      margin:0px 0px 0px 0px;
      display: block;
      transition: top 0.3s;
      z-index:9;
    }
    #navbar .mainTitle {
      color:white;
      font-family: 'Permanent Marker', cursive;
      letter-spacing: 15px;
      font-size:64px;
      text-align:center;
    }

    #log-bar{
        position:absolute;
        bottom:2px;
        right:2px;
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        align-items:center;
        color:white;
    }

    #signin-bt {color:white; display:inline-block; padding:5px; margin:5px;}
    #singup-bt {color:white; display:inline-block; padding:5px; margin:5px;}
    #signin-bt  a {color:white}
    #signup-bt  a {color:white}
    #admin-dash {color:white; display:inline-block; padding:5px; margin:5px;}
    #admin-dash a {color:white; }
    #tag-bar    {
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    }

    .tag    {
    background-color:white;
    color:black;
    padding:5px 10px;
    margin:5px 10px;

    }