<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Permanent+Marker&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/img-gallery.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/pagination.css">
    <link rel="stylesheet" href="/css/back-to-top-button.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/search-bar.css">
    <style>
    body {
      margin: 0;
      background-color: #f1f1f1;
      font-family: Arial, Helvetica, sans-serif;
    }
    #main-body  {
      max-width: 90%;
      background-color: lavender;
      min-height: 100vh;
      margin: 0px auto;
    }
    #footer {
          background-color: #2E4053;
          text-align: center;
          color: white;
          padding: 20px 10px;
        }


  </style>
</head>
<body>


<div id="navbar">
    <div class="mainTitle">MOVIE REVIEWS</div>
    <div id="log-bar">
        <div id="admin-dash"><a href="/admin-dash">Admin Dashboard</a></div>
        <div id="signin-bt"><a href="/signin">Sign In</a></div>
        <div id="signup-bt"><a href="/signup">Sign Up</a></div>

    </div>
    <div id="tag-bar">
        <div class="tag"><a href="/tagPosts/adventure/1">Adventure</a></div>
        <div class="tag"><a href="/tagPosts/action/1">Action</a></div>
        <div class="tag"><a href="/tagPosts/animation/1">Animation</a></div>
        <div class="tag"><a href="/tagPosts/comedy/1">Comedy</a></div>
        <div class="tag"><a href="/tagPosts/documentary/1">Documentary</a></div>
        <div class="tag"><a href="/tagPosts/family/1">Family</a></div>
        <div class="tag"><a href="/tagPosts/fiction/1">Science Fiction</a></div>
        <div class="tag"><a href="/tagPosts/crime/1">Crime</a></div>
        <div class="tag"><a href="/tagPosts/drama/1">Drama</a></div>
        <div class="tag"><a href="/tagPosts/fantasy/1">Fantasy</a></div>
        <div class="tag"><a href="/tagPosts/halloween/1">Halloween</a></div>
        <div class="tag"><a href="/tagPosts/horror/1">Horror</a></div>
        <div class="tag"><a href="/tagPosts/history/1">History</a></div>
        <div class="tag"><a href="/tagPosts/music/1">Music</a></div>
        <div class="tag"><a href="/tagPosts/mystery/1">Mystery</a></div>
        <div class="tag"><a href="/tagPosts/romance/1">Romance</a></div>
        <div class="tag"><a href="/tagPosts/thriller/1">Thriller</a></div>
        <div class="tag"><a href="/tagPosts/war/1">War</a></div>
        <div class="tag"><a href="/tagPosts/sport/1">Sport</a></div>


    </div>
</div>


<div id="main-body">
    <div class="pagination" th:if="${pageCount!=0}">
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage-1},tag=${currentTag})}" th:if="${currentPage!=1}">&laquo;</a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${1},tag=${currentTag})}" th:if="${currentPage!=1}">First</a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage-1},tag=${currentTag})}" th:if="${currentPage!=1}"><span th:text="${currentPage-1}"/></a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage},tag=${currentTag})}" class="active"><span th:text="${currentPage}"/></a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage+1},tag=${currentTag})}" th:if="${currentPage+1<=pageCount}"><span th:text="${currentPage+1}"/></a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage+2},tag=${currentTag})}" th:if="${currentPage+2<=pageCount}"><span th:text="${currentPage+2}"/></a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage+3},tag=${currentTag})}" th:if="${currentPage+3<=pageCount}"><span th:text="${currentPage+3}"/></a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage+1},tag=${currentTag})}" th:if="${currentPage+1<=pageCount}">Next</a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${pageCount},tag=${currentTag})}">Last</a>
        <a th:href="@{/tagPosts/{tag}/{pageNum}(pageNum=${currentPage+1},tag=${currentTag})}" th:if="${currentPage+1<=pageCount}">&raquo;</a>
    </div>
    <button onclick="topFunction()" id="toup" title="Go to top">Top</button>

    <div id="search-bar">
        <form class="example" action="">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit"><i class="fa fa-search"></i></button>
        </form>
    </div>


    <div>Recently Added..</div>

    <div id="poster-container">

        <div th:if="${posts.empty}">
            <div>No Posts Availble</div>
        </div>

        <div th:each="post:${posts}">
            <div class="gallery">
                <a th:href="@{/getPost/{pid}(pid = ${post.postId})}">
                    <img th:src="*{'data:image/png;base64,'+post.picContent}" alt="Cinque Terre" style="object-fit: contain;">
                </a>
                <div class="desc">
                    <div th:text="${post.movieName}"/>
                    <div th:text="${post.movieDate}"/>
                    <div>Likes: <span th:text="${post.likes}"/> Dislikes: <span th:text="${post.dislikes}"/></div>

                </div>
            </div>

        </div>



    </div>

</div>
<div id="footer">
    Movie Reviews footer
</div>




</body>
</html>
<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
      var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("navbar").style.top = "0";
      } else {
        document.getElementById("navbar").style.top = "-150px";
      }
      prevScrollpos = currentScrollPos;
    }
  </script>

<script>
//Get the button
var mybutton = document.getElementById("toup");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>